<!-- navbar.component.html -->
<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">Blogs</a>
  </div>
  <button class="menu-button" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </button>
  <div class="navbar-links" [ngClass]="{ 'show-menu': isMenuOpen, 'hide-menu': !isMenuOpen }">
    <ng-container *ngIf="!isLoggedIn; else userLinks">
      <a routerLink="/login" class="button-link">Iniciar Sesión</a>
      <a routerLink="/register" class="button-link">Registrarse</a>
    </ng-container>
    <ng-template #userLinks>
      <a class="button-link" routerLink="/profile" [innerHTML]="username"></a>
      <a class="button-link" routerLink="/createArticle">Crear articulo</a>
      <a class="button-link" (click)="logout()">Cerrar Sesión</a>
    </ng-template>
  </div>
</nav>
