@import "~@fortawesome/fontawesome-free/css/all.css";

$user-profile-background-color: #fff;
$user-profile-button-color: #007bff;
$user-profile-button-hover-color: #0056b3;
$user-profile-disabled-button-color: #ccc;
$user-profile-error-background-color: #f8d7da;
$user-profile-error-text-color: #721c24;

.user-profile {
  max-width: 400px;
  margin: 20px auto 0;
  padding: 20px;
  border-radius: 5px;
  background-color: $user-profile-background-color;
  text-align: center;

  .profile-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
  }

  .form-group {
    margin-bottom: 15px;
    text-align: left;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      width: 80%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
  }

  button[type="submit"] {
    background-color: $user-profile-button-color;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: $user-profile-button-hover-color;
    }
  }

  .btn-submit-profile:disabled {
    background-color: $user-profile-disabled-button-color;
    color: #999;
    cursor: not-allowed;
  }

  .btn-submit-cancel {
    background-color: rgb(250, 63, 63);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: $user-profile-button-hover-color;
    }
  }

  .custom-alert {
    background-color: $user-profile-error-background-color;
    color: $user-profile-error-text-color;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #f5c6cb;
  }
}

.icon-pencil {
  margin-left: 10px;
}
