<form (ngSubmit)="createBlog()" #blogForm="ngForm" class="centered-form">
  <label for="title">Título:</label>
  <input
    type="text"
    id="title"
    name="title"
    [(ngModel)]="blogData.title"
    required
  />

  <label for="content">Contenido:</label>
  <textarea
    type="text"
    id="content"
    name="content"
    [(ngModel)]="blogData.content"
    required
  ></textarea>

  <div class="button-container">
    <button type="submit" class="btn-submit">Crear Blog</button>
  </div>
</form>
