/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f5f5f5;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Otros estilos para el cuerpo, si es necesario */
}
